// CLIENTS
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  & .item {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;

    @media screen and (min-width: $tablet) {
      width: calc((100% - 30px * 3) / 3);
    }

    @media screen and (min-width: $desktop) {
      width: calc((100% - 30px * 6) / 6);
    }
  }

  & .link {
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: $transition;
  }

  & .icon {
    fill: #afb1b8;

    transition: $transition;
  }

  & .link:hover,
  & .link:focus {
    border-color: $accent-color;
    transform: scale(1.2);
  }

  & .link:hover .icon,
  & .link:focus .icon {
    fill: $accent-color;
  }
}
// end CLIENTS
