// CLIENTS
.clients-list {
  display: flex;
  flex-wrap: wrap;

  & .item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    @media (min-width: 776px) {
      width: calc((100% - 30px * 3) / 3);
      margin-right: 30px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }

    @media (min-width: 992px) {
      width: calc((100% - 30px * 6) / 6);
      &:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }
  }

  & .link {
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: $transition;
  }

  & .icon {
    fill: #afb1b8;

    transition: $transition;
  }

  & .link:hover,
  & .link:focus {
    border-color: $accent-color;
    transform: scale(1.2);
  }

  & .link:hover .icon,
  & .link:focus .icon {
    fill: $accent-color;
  }
}
// end CLIENTS
