// MAIN
body {
  color: $primary-text-color;
  background-color: $primary-white-color;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &-title {
    color: $title-text-color;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.botton {
  color: $primary-white-color;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: $transition;

  &:hover,
  &:focus {
    background-color: $primary-white-color;
    color: $accent-color;
    outline-color: $accent-color;
  }
}

.social-links {
  display: flex;
  justify-content: space-evenly;

  & .link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    transition: $transition;
  }
  & .icon {
    fill: #afb1b8;
    transition: $transition;
  }

  & .link:hover,
  & .link:focus {
    background-color: $accent-color;
  }

  & .link:hover .icon,
  & .link:focus .icon {
    fill: $primary-white-color;
  }
}

.underline {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    bottom: -94px;
    background-color: #ececec;
  }
}
// end MAIN
