// FEATURES
.features-list {
  @media (min-width: 776px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.features-card {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: 776px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 992px) {
    width: calc((100% - 30px * 3) / 4);
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  .features-icon {
    background-color: $secondary-bg-color;
    height: 120px;
    border-radius: 4px;
    // overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features-item {
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;

    @media (min-width: 776px) {
      text-align: left;
    }
  }

  .features-text {
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 0;
  }
}
// end FEATURES
