// FOOTER
.footer {
  background-color: #2f303a;
  color: $primary-white-color;

  &-info {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
      text-align: start;
    }
  }

  & .logo {
    color: $primary-white-color;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    margin-bottom: 20px;
  }
}

.address-link-block {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 2);
  }
}

.address-block {
  margin-top: 0;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.address {
  line-height: 1.7;
  font-style: normal;

  .map-address {
    margin-top: 0;
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }

  .footer-contact {
    color: rgba(255, 255, 255, 0.6);
    display: block;
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }

    transition: $transition;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.links-block {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .exhortation {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
  }
}

.our.social-links {
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }

  & .link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: $transition;
  }

  & .link:hover,
  & .link:focus {
    background-color: $accent-color;
  }

  & .icon {
    fill: $primary-white-color;
  }
}

.exhortation-block {
  @media screen and (min-width: 1200px) {
    text-align: start;
    width: calc((100% - 30px) / 2);
  }

  .exhortation {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
  }
}

.footer-form {
  align-items: center;
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  .input {
    background-color: #2f303a;
    color: $primary-white-color;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 0 12px;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      margin-right: 12px;
      width: 350px;
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      outline-color: $accent-color;
    }
  }
}

.sign {
  font-weight: 900;
  padding: 10px 45px;
  margin-left: auto;
  margin-right: auto;
}

.botton.sign {
  display: flex;
  align-items: center;

  & .icon {
    margin-left: 10px;
    fill: $primary-white-color;

    transition: $transition;
  }

  &:hover .icon,
  &:focus .icon {
    fill: $accent-color;
  }
}
// end FOOTER
