// HEADER
.header {
  // position: relative;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $primary-white-color;

  border-bottom: 1px solid #ececec;
  &.main {
    border-bottom: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.header-menu {
  position: relative;
  // display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: transparent;

  &:hover {
    fill: $accent-color;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  padding: 60px 0;
  text-align: center;

  transition: $transition;

  &.is-open {
    display: block;
  }
}

.site-nav {
  margin-bottom: 60px;
  // display: flex;
  // margin-left: 86px;

  & .link {
    position: relative;
    display: inline-block;
    // padding-top: 32px;
    // padding-bottom: 32px;

    color: $title-text-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.02em;

    // transition: $transition;

    @media screen and (min-width: $tablet) {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  & .item:not(:last-child) {
    margin-bottom: 40px;
  }

  & .item + .item {
    // margin-left: 40px;
  }

  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }

  & .link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: $accent-color;
    border-radius: 2px;
  }

  .current {
    color: $accent-color;
    padding-bottom: 8px;
  }
}

.contact-list {
  // display: flex;
  // margin-left: auto;

  & .link {
    display: block;
    // justify-content: center;
    // align-items: center;
    // padding-top: 32px;
    // padding-bottom: 32px;

    transition: $transition;
  }

  & .item {
    // justify-content: center;
    // align-items: center;
  }

  & .item:not(:last-child) {
    margin-bottom: 16px;
  }

  & .item + .item {
    // margin-left: 30px;
  }
}

.header-contact {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.16;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }

  & .icon {
    fill: $primary-text-color;
    margin-right: 10px;
    // justify-content: center;
    // align-items: center;
    vertical-align: middle;

    transition: $transition;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &:hover .icon,
  &:focus .icon {
    fill: $accent-color;
  }
}
// end HEADER
