// HERO
.hero {
  @media screen and (max-width: $tablet) {
    margin-top: 60px;
  }

  text-align: center;

  &.overlay {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url('../images/Header.jpg');
    background-color: rgba(47, 48, 58, 0.8);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $tablet) {
      max-width: 1200px;
    }

    @media screen and (min-width: $desktop) {
      max-width: 1600px;
      padding-top: 200px;
      padding-bottom: 200px;
    }

    &.maldives {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.3), rgba(47, 48, 58, 0.3)), url('../images/Maldives.jpg');
    }
  }

  &-title {
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;

    color: $primary-white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
// end HERO
