// MODAL
.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: $transition;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.5);
  }
}

.modal {
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: $primary-white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  @media screen and (min-width: $desktop) {
    max-width: 528px;
  }

  & .title {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
      line-height: 1.15;
    }
  }
}

.form-field {
  position: relative;
  margin-bottom: 28px;

  .form-input {
    width: 100%;
    height: 40px;
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: $transition;

    &:focus,
    &:hover {
      border-color: $accent-color;
      outline-color: $accent-color;
    }
  }

  .form-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);

    transition: $transition;
  }

  .form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    transition: $transition;
  }

  .comment {
    resize: none;
    width: 100%;
    min-height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:hover,
    &:focus {
      border-color: $accent-color;
      outline-color: $accent-color;
    }
  }
}

.form-input:focus + .form-label,
.form-input:hover + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  font-size: 12px;
  color: $accent-color;
  border-color: $accent-color;
  transform: translate(-23px, -40px);
}

.form-input:focus ~ .form-icon,
.form-input:hover ~ .form-icon,
.form-input:not(:placeholder-shown) ~ .form-icon {
  fill: $accent-color;
}

// checkbox
.checkbox-field {
  text-align: center;

  .checkbox-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 2px;
    border: 2px solid $title-text-color;
    border-radius: 2px;

    transform: translateY(2px);
    transition: $transition;
  }

  .checkbox-text {
    font-size: 12px;
    line-height: 1.16;

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.7;
    }
  }

  .contract {
    font-size: 12px;
    line-height: 1.16;
    color: $accent-color;
    text-decoration: none;

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.7;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.checkbox:focus + .checkbox-icon,
.checkbox:hover + .checkbox-icon {
  border-color: $accent-color;
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: $accent-color;
  background-image: url('../images/check.svg');
  background-size: contain;
  background-origin: border-box;
}
// end checkbox

.form-botton {
  border: 1px solid $accent-color;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.close {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  padding: 6px;
  // transform: translate(25%, -25%);
  background: $primary-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  // box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 50%;

  &:hover,
  &:focus {
    // box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    fill: $accent-color;
  }
}
// end MODAL
